/* 

COLORS
Find some way to get the correct background color.


CUSTOM FONTS
In this example we're using Gotham, a paid font. (This means it's not available on Google Fonts or similar services.) So, we have to import it in a different way. Look up "font-face" on Google to see if you can understand how to use it. 


TRANSPARENCY
There is a semi-transparent black background behind the headline "Here's how your company can connect with our students". Look up "rgba" on Google to see if you can figure out how to recreate that. 


HOVERING
When you hover on the link in the right section, it shows an underline. Look up "how to change CSS when hovering" on Google to see if you can figure out how to do that. 


REMOVING MARGIN ON EVERY 2ND ITEM
With the partner logos, you'll find that you want to have margin sometimes on the right but sometimes you don't want any margin. "nth-child" is what you're looking for here to make this happen. Google that and see if you can figure it out. 

*/

html, h1{
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Gotham', Helvetica, sans-serif;
	background-color: #485563;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 50px;
	background-color: white;
	
}

.container h1{
	padding-bottom: 30px;	
}

.section {
	width: 30%;
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
	position:relative;
	height: 300px;
}

.one{
	
}

.company1, .company2, .company3, .company4, .company5, .company6{
	position:absolute;
	width:45%;
}

.company1{
	top:20px;
	left:0;
}
.company2{
	top:0;
	right:0;
}
.company3{
	top:130px;
	left:0;
}
.company4{
	top:110px;
	right:0;
}
.company5{
	bottom:0;
	left:0;
}
.company6{
	bottom:10px;
	right:0;
}

.two h2{
	font-size:20pt;
}

.three {
	margin-right: 0;
	background: url("images/bg.jpg") no-repeat center center;
	background-size: 100% auto;
}

.three h3{
	position: absolute;
	color: white;
	bottom: 0; 
	padding: 10px;
	margin: 0;
	font-size: 22px;
	background-color: rgba(0,0,0,0.5);
}

@font-face {
    font-family: 'Gotham';
    src: url(fonts/gothammedium-webfont.ttf) format('truetype');
    /*src: url(fonts/gothammedium-webfont.svg);
    src: url(fonts/gothammedium-webfont.eot);*/
}

@media screen and (max-width: 900px) {
	/* Refer to the 875px-wide browser screenshot for how this should look */


}

@media screen and (max-width: 550px) {
	/* Refer to the 525px-wide browser screenshot for how this should look */
	/* At this point the partner logos switch back to just being two across. */


}
